<div id="analyticsSettingsId" class="delPopupOverlay">
    <div class="modalBox">
        <div class="modalPopup">
            <div  class="popupHeader">
                <span >Select currency</span>
                <span class="closePopup" (click)="closePopUp()"><i class="zmdi zmdi-close"></i></span>
            </div>
            <div class="popupContentArea">
                <div class="settingTabContent" id="currSelection">
                    <p class="helpTextPara">Select the required currency type for the analyses.<span class="info"
                            class="zmdi zmdi-help-outline"></span></p>
                    <div class="currencySelectionFlex">
                        
                    </div>
                </div>
            </div>
            <div class="popupBtnArea">
                <button class="saveBtn">
                    Apply</button>
                <button class="canclBtn" (click)="closePopUp()">Cancel</button>
            </div>
        </div>
    </div>
</div>