<div class="analysis-wrapper landing_page">
    <div class="flexSpaceBetween">
        <div class="back_Btn">
            <span class="arrow_cursr" id="analzerLanding_NavigateBackDataPrepare">
                <i class="zmdi zmdi-arrow-left"></i>
                <span class="back_txt" id="analzerLanding_DataPreparation"><b>Data preparation</b></span>
            </span>
        </div>
        <div class="settingsBtn">
            <button class="canclBtn" id="analzerLanding_selectCurrencyBtn" (click)="openCurrencyPopUp()"> <i
                    class="zmdi zmdi-alert-circle"></i>
                Select
                currency
            </button>
            <button class="canclBtn" id="analzerLanding_analyzerSettingsBtn" (click)="openAnalyzerSetting()">Analyzer
                filters
            </button>
        </div>
    </div>
    <div class="pageMainHead" id="analzerLanding_GeneralLedger">General ledger analyzer</div>
    <div class="sectionHeader">
        Review the Evaluate data analysis prior to using other analyses. Financial statement profiling and Process
        profiling analyzers provide initial overviews and analysis across the whole of the general ledger. Select the
        relevant account or group of accounts or source(s) to enable the various Account and Process analysis.
    </div>
    <hr>
</div>